KiCad/ardWatch-miniPro168/ardWatch-miniPro168-backups/
fp-info-cache
*.kicad_prl
KiCad/ardWatch-miniPro328/ardWatch-miniPro328-backups/
KiCad/ardWatch-uno/ardWatch-uno-backups/
KiCad/espWatch/espWatch-backups/
KiCad/espWatch-ESP01/espWatch-ESP01-backups/
KiCad/espWatch-ESP01-minimal/espWatch-ESP01-minimal-backups/
